.chat-main
  .chat-main__group-info
    .group__name
      test
      .group__id
        Member : masa
    = link_to "#", class: "group__info" do
      Edit
  .chat-main__message-list
    .message
      .message__upper
        .messege__username
          masa
        .message__date
          2019/11/20(wed) 17:43:01
      .message__txet
        おはよう
    .message
      .message__upper
        .messege__username
          masa
        .message__date
          2019/11/20(wed) 17:43:34
      .message__txet
        今日は夜から雨 
  .chat-main__message-form
    %form.new-message
      .input-box
        %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type:"text"}/
        %input.submit-btn{name: "commit", type: "submit", value: "Send"}
          %label{class: "input-box__image"}
            = icon( "far fa-image", class: "image")
            %input{ type: "file", class: "hidden" }