.chat-main {
height: 100vh;
width: calc(100vw - 300px);
position: relative;

&__group-info{
height: 100px; 
padding: 0 40px;
display: flex;
justify-content: space-between;
border-bottom: solid 1px #eee;
overflow: scroll;
  .group__name {
   font-size: 20px;
   padding-top: 35px;
   color:  $Black;
   text-align: left;

  } 
   .group__id {
    font-size: 12px;
    padding-top: 23px;
    display: flex;
    .group__member{
    color: $siru;
    font-size: 12px;

    }
    
  }  
  .group__info {
   height: 40px;
   padding: 0 20px;
   margin-top: 28px;
   border:solid 1px $ao;
   line-height: 40px;
   text-decoration: none;
   font-size: 16px;
   color: $ao; 
  }
 } 
   &__message-list{
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
      .message {
       
        .upper-message{
          display: flex;
          margin-bottom: 10px;
          
          &__user-name{
            margin-bottom: 10px;
            font-size: 16px;
            color:  $Black;
            font-weight: bold;
          }
          &__date{
            font-size: 12px;
            color: $siru;
            margin-left: 10px;
          }
          
        }
        .lower-message{
            color: $rie;
            padding-bottom: 46px;

            &__content {
            font-size: 14px;
            color: $rie;
            }
            &__image{
              
            }
          }
        }
 }
  &__message-form {           
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
  box-sizing: border-box;
   form{
    display: flex;
    .messages{
     width: 100%;
     position: relative;
      .input-box{
       width:100%;
       &__text{
       height: 50px;
       width: 100%;
       color: $rie;
       border-style: none;
       padding: 0 40px 0 10px;
       }
      } 
     .form__mask{
      position: absolute;
      right: 18px;
      top: 10px;
      &__image{
      cursor: pointer;
      font-size: 1.5rem;
      }
     }
      .icon{
      font-size: 1.3rem;
      }
      .hidden{
      display: none;
      }
    }
   .submit-btn{
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: $ao;
    color: $wait;
    cursor: pointer;   
   }
    }
  }
}
  
  